<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/footer.module.css">
</head>
<body>
    <footer>
        <div class="Footer">
            <p class="FooterDescription">
                Created by <span class="Creator">©{{name}}™</span>
            </p>
        </div>
    </footer>
</body>
</html>