






body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.MainContainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(200,200,200,0.3);
}

.FormContainer {
    display: flex;
    border: 1px solid transparent;
    border-radius: 6px;
    /*box-shadow: 20px 20px 20px #d9d9d9,*/
    /*-20px -20px 60px #ffffff,*/
    /*-20px -20px 60px #d9d9d9,*/
    /*-40px -40px 20px #ffffff;*/
    background: rgba(255,255,255,0.7);
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 24px;
    box-sizing: border-box;
}

.FieldLabels, .FieldInputs {
    font-weight: 500;
    box-sizing: border-box;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25),
    1px 1px 1px rgba(255, 255, 255, 0.3);
    border: 4px solid #fff;
    background: #fff;
    transition: box-shadow ease 300ms;
}

.FieldLabels {
    margin: 12px 0 8px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    width: fit-content;
    border-radius: 4px;
    padding: 4px 24px 4px 12px;
}

.FieldInputs {
    width: 100%;
    margin: 4px 0 12px 0;
    box-shadow: -8px -8px 8px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    outline: none;
    border-radius: 4px;
    padding: 4px 8px;
}

::placeholder {
    font-size: 14px;
}

.FieldInputs:hover, .FieldInputs:focus {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25),
    1px 1px 1px rgba(255, 255, 255, 0.3);
}

.ButtonContainer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BtnContainer {
    outline: none;
    border: 1px solid #fff;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25),
    8px 8px 12px rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.BtnContainer:hover {
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5),
    inset 1px 1px 4px rgba(0, 0, 0, 0.35);
    transition: all 1s ease 0s;
}