<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/key.png">
    <link rel="stylesheet" href="/css/about.module.css">
</head>
<body>
    {{>header}}
    <div class="MainContainer">
        <arcticle class="SubArticles">
            <div class="ArticleImages">
                <div class="ArticleShade"></div>
                <img src="https://www.lifewire.com/thmb/WcbD1juHHvZJVoGRGnc1qN7pd-M=/1967x1524/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-470004880-5a4400590d327a00374ab5c3.jpg" alt="password" class="ArticleImages">
            </div>
            <div class="ArticleDescription">
                <p class="Article">
                    “Tradition is the code that keeps change in lock. If you refuse change, you are likely to rust and guess the cause; that long held way of doing things.”
― Israelmore Ayivor
                </p>
            </div>
            
        </arcticle>
        <article class="SubArticles">
            <img src="https://help.semplice.com/hc/article_attachments/360027721832/dark.jpg" alt="password" class="ArticleImages">
            <div class="ArticleDescription">
                <p class="Article">
                    “If your password encrypts your history then its a PASTWORD”
                </p>
            </div>
        </article>
        <article class="SubArticles">
            <img src="https://appducate.com/wp-content/uploads/2013/02/passprotect.jpg" alt="password" class="ArticleImages">
            <div class="ArticleDescription">
                <p class="Article">
                    It should go without saying, but you must securely hash your passwords.
                </p>
            </div>
        </article>
    </div>
    {{>footer}}
</body>


</html>